.adorned-input-container {
  position: relative;
  display: inline-block;
}

.adorned-input {
  height: 56px;
  font-size: 16px;
  padding: 10px; /* Adjust padding as needed */
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

.adorned-input:hover {
  border-color: #ffffff;
}

.adorned-input:focus {
  border-color: red;
}

.start-adornment,
.end-adornment {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px; /* Adjust font size as needed */
  color: #cfcfcf;
}

.start-adornment {
  left: 8px; /* Adjust left position as needed */
}

.end-adornment {
  right: 8px; /* Adjust right position as needed */
}
