:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --speed: 500ms;

  --main-background-color: #be3455;
  --main-color-d3: #751c31;

  --palette-main-color: #be3455;
  --palette-grey-10: #d8d8d8;
  --palette-grey-50: #888888;
  --palette-grey-100: #585858;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  overflow-y: auto;
}

a:link {
  color: #0000ee;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #551a8b;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #ee0000;
  background-color: transparent;
  text-decoration: underline;
}
hr {
  border: 1px solid #585858;
}
p {
  margin: 1rem 0 2rem;
}
ol,
ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 20px;
}
