:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --speed: 500ms;

  --main-background-color: #be3455;
  --main-color-d3: #751c31;

  --palette-main-color: #be3455;
  --palette-menu-color: #d8d8d8;

  --palette-grey-10: #d8d8d8;
  --palette-grey-50: #888888;
  --palette-grey-100: #585858;
  --palette-grey-dark: #4b4b4b;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  overflow-y: auto;
}

a:link {
  color: #0000ee;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #551a8b;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #ee0000;
  background-color: transparent;
  text-decoration: underline;
}
hr {
  border: 1px solid #585858;
}

ol,
ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 20px;
}
em {
  font-weight: 700;
  color: var(--palette-main-color);
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #000;
}
h2 {
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #585858;
}
p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.3em;
  margin-bottom: 1rem;
  color: #383838;
}
.image-banner-1 {
  color: #fff;
  background: #585858;
  padding: 12px 16px 6px 16px;
  text-align: center;
  margin-top: 2px;
}
