.accordion-menu {
  width: 300px;
  background-color: #4a4747;
}
.accordion-section {
  margin-bottom: 2px;
}
.accordion-section-header {
  background-color: #f0f0f0;
  font-weight: 500;
  width: 100%;
  letter-spacing: 0.25px;
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.accordion-section-title {
  display: inline-block;
  margin-right: 8px;
}
.accordion-section-icon {
  transition: transform 0.3s ease-in-out;
}
.accordion-section.expanded .accordion-section-icon {
  transform: rotate(180deg);
}
.accordion-section-content {
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}
.accordion-menu a {
  display: block;
  color: #000;
  border-bottom: 1px solid var(--palette-grey-dark);
  display: block;
  text-decoration: none;
  padding: 6px 12px 6px 32px;
}
.accordion-menu a:visited,
.accordion-menu a:focus {
  color: #000;
}
