1. Light mode / Dark mode
2. Shrink / Expand
3. Hide or change elements on very small
4. Test with accessibility tools
    Color contrast
    Audio
    Aria-rules
5. Microinteractions
    Unlock password
    Open email envelop
6. Animations
    Focus / leave
7. Help expansion field
8. Form validation
9. List elements 
    Styling
    Selection
    Animation
10. Multirows?
11. Character limit
12. Variants
    Default
    Discreet
    Readonly
        Cascade readonly to all elements
13. Orientation
    Vertical
    Horizontal
    Compact?  Label shrinks into top border
    Animated underline
14. Sizes
    Small
    Medium
    Large
15. Input scenarios
    First name
    Last name
    Middle name
    Prefix
    Suffix
    Name as shown on card
    Preferred name
    Address1
    Address2
    City
    State
    Postal Code
    County
    SSN
    ID
    Credit card
    Birthdate
    Sex
    Preferred Sex

16. Testing
    Browser Input
17. Mobile
    Inputmode (keyboard)    
18. Css options
    User-select: none
19. Required vs. * 
    Allow display of required
20. Structured Input
    (   )     -    
21. zod wrapper
22. Suggest field names
23. Tooltip.Help / Tooltip.Default
24. Validate tabstops
25. Lazy load
26. Search - debounce
27. Numbers -
    Rotate -  7,8,9,1,2,3  if limited to a select
    Increment by 1, increment by 10


Document:
Microinteractions
https://react.fluentui.dev/
https://tigeroakes.com/posts/react-focus-on-render/

Roadmaps
https://roadmap.sh/react?utm_source=importreact.beehiiv.com&utm_medium=newsletter&utm_campaign=infinite-queries&_bhlid=af119422dd9728002164853afc1492114aeba618


eslint file:
https://www.raulmelo.me/en/blog/migration-eslint-to-flat-config
https://github.com/alan2207/bulletproof-react/blob/master/apps/react-vite/.eslintrc.cjs