.content-wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
}
.left-content {
  width: 300px;
  /* transition: transform 0.15s; */
}
.main-content {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
}
.main {
  flex-grow: 1;
}
