.hamburger-control__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburger-control__title {
  color: #fff;
  font-size: 0.7rem;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0.04em;
  line-height: 20px;
  margin: 0;
  padding: 0px 12px;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
}
.hamburger-control__title::before {
  content: '';
  display: block;
  border-top: 1px solid #fff;
  border-style: double;
  margin-bottom: 1px;
}
.hamburger-control__title::after {
  content: '';
  display: block;
  border-top: 1px solid #fff;
  border-style: double;
  margin-top: 1px;
}
