.photo-list .main {
  padding: 16px 0;
}
.photo-list ul {
  display: flex;
  flex-wrap: wrap;
  margin: 2vmin;
  list-style: none;
}
.photo-list li {
  height: 40vh;
  flex-grow: 1;
  margin: 2vmin;
}
.photo-list li:last-child {
  flex-grow: 10;
}
.photo-list img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border-radius: 1vmin;
}
@media (max-aspect-ratio: 1/1) {
  .photo-list li {
    height: 30vh;
  }
}
@media (max-height: 480px) {
  .photo-list li {
    height: 80vh;
  }
}
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .photo-list ul {
    flex-direction: row;
  }
  .photo-list li {
    height: auto;
    width: 100%;
  }
  .photo-list img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}
