.main {
  width: 100%;
  padding: 0 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main .content {
  display: flex;
  flex-direction: row;
}
.main .col-left {
  min-width: 700px;
  width: 700px;
  padding-right: 16px;
}
.main .col-right {
  /* flex-grow: 1; */
  width: 300px;
}
.main p {
  line-height: 1.3rem;
}
.main .italic {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  line-height: 1.2rem;
}
.main .image-text {
  font-size: 0.75rem;
  text-align: right;
}
