.main {
  padding: 0 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main > .content {
  display: grid;
  grid-template-columns: auto 350px;
}
.main > div:first-child {
  min-width: 850px;
}
.main p {
  line-height: 1.3rem;
}
.main .italic {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  line-height: 1.2rem;
}
.main .image-text {
  font-size: 0.75rem;
  text-align: right;
}
