.footer {
  min-height: 20px;
  background-color: var(--main-background-color, #000);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  color: #fff;
  font-size: 0.8rem;
  padding-left: 16px;
}
