.home-menu {
  width: 100%;
}
.home-menu .grid-container {
  column-count: 4;
  column-gap: 16px;
}
.home-menu .grid-container nav {
  min-width: 250px;
  break-inside: avoid;
  margin-bottom: 18px;
}
.home-menu .title {
  color: black;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-bottom: 3px;
  margin-bottom: 6px;
  /* border-bottom: 1px solid #dcdcdc; */
}
.home-menu a {
  font-size: 0.8rem;
  display: block;
  color: #000;
  display: block;
  text-decoration: none;
  padding: 3px 0px;
}
.home-menu a:link {
  color: #000;
}
.home-menu a:visited {
  color: #000;
}
.home-menu a:hover,
.home-menu a:active,
.home-menu a:focus {
  color: #0000ee;
}
