.text-area {
  margin-bottom: 6px;
}
@scope (.text-area) {
  .input .error {
    color: rgb(176, 0, 32);
  }
  .input {
    color: #212121;
    background-color: var(--palette-white, #fff);
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 20px;
    height: 46px;
    align-items: center;
    padding-block-end: 12px;
    padding-block-start: 12px;
    padding-inline-end: 12px;
    padding-inline-start: 12px;
    padding: 0 12px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    &:hover {
      border-color: #63544f;
    }
    &:focus {
      border-color: #6db144;
      border-width: 2px;
    }
  }
  .help {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.75rem;
    color: rgb(102, 102, 102);
    margin: 4px;
  }
  .help ul {
    margin-top: 0px;
    padding-inline-start: 12px;
  }
}
